*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#cover{
    width: 100%;
    height: 600px;
    background-image: url('../images/himym_cover1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
}

@media screen and(max-width: 479px){
    #cover{
        background-image: url('../images/coverM1.jpg');
        width: 100%;
        height: 55px;
        background-size: contain;
    }
}

#about{
    width: 80%;
    height: inherit;
}

#logo{
    background-image: url('../images/logo.png');
    background-size: cover;
    width: 100%;
    height: 50px;
}

#slider{
    margin: 0px auto;
    width: 45%;
}

#misc{
    width: 95%;
    margin: 0px auto;
}

i{
    font-size: 25px;
}